.container {
  /* 画面全体を占めるように設定 */
  min-height: 100vh;
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center;     /* 垂直方向の中央揃え */
}

.main {
  /* コンテナ内のスタイル */
  padding: 2rem;
  /* text-align: center; 内部のテキストを中央揃えにする場合 */
}

.title {
  /* H2タグの文字サイズを変更 */
  font-size: 3em;
  color: #333;
}

.list {
  padding-right: 1em;
  list-style-type: disc;
}